html, body {
  height: 100%;
}
body {
  background-color: #444; /* DK: customize */
	font-family: "Nunito", sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: left;
  height: 95%;
  width: 70%;
}
#otherDiv {
	float:right;
	width: 29%;
}
